.pilar_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 6rem;
}

.pilar_navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pilar_navbar-links-logo{
    margin-right: 2rem;
}

.pilar_navbar-links-logo img{
    height: 90px;
    width: 45px;
    cursor: pointer;

    animation-name: zoomIn;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.pilar_navbar-links_container{
    display: flex;
    flex-direction: row;

    animation-name: zoomIn;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.pilar_navbar-links_container p{
    font-family: 'Bahnschrift', sans-serif;
    display: flex;
    font-size: 16px;
    line-height: 25px;
    margin: 0 1rem;
    cursor: pointer;
}

.pilar_navbar-links_container a:hover{
    background-size: cover;
    color: rgb(66, 63, 63);
}


.pilar_navbar-menu-container p{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 16px;
    /* line-height: 25px; */
    margin: 1rem 0.5rem;
}

.pilar_navbar-socialmedia{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    animation-name: zoomIn;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.pilar_navbar-socialmedia svg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0.5rem;
}

.pilar_navbar-socialmedia a:hover{
    background-color: rgb(66, 63, 63);
    border-radius: 5px;
}

.pilar_navbar-menu_container_socialmedia svg {
    cursor: pointer;
    margin: 0.5rem;
}

.pilar_navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;

    animation-name: zoomIn;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.pilar_navbar-menu svg{
    cursor: pointer;
}

.pilar_navbar-menu-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: start;
    background: rgb(105, 105, 105);;
    padding: 2rem;
    position: absolute;
    top: 50px;
    right: -10px;
    margin-top: 1rem;
    min-width: 200px;
    border-radius: 5px;

    animation-name: zoomIn;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.pilar_navbar-menu-container a:hover{
    color: rgb(66, 63, 63);
}

.pilar_navbar-menu_container_socialmedia{
    display: inline-block;
}

@media screen and (max-width: 1050px) {
    .pilar_navbar{
        padding: 1rem 4rem;
    }

    .pilar_navbar-links_container{
        display: none;
    }
    
    .pilar_navbar-menu{
        display: flex;
    }

    .pilar_navbar-socialmedia{
        display: none;
    }

    .pilar_navbar-menu_container_socialmedia{
        display: flex;
    } 
}

@keyframes zoomIn {
    from{
        opacity: 0;
        transform: scale3d(0.5, 0.5 0.5);
    }

    50%{
        opacity: 1;
    }
}