*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body{
  background-image: url(../src/assets/pilar-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

a{
  color: var(--color-text);
  text-decoration: none;
}

/* .mains {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 300px;

  animation-name: zoomIn;
  animation-duration: 5s;
  animation-fill-mode: both;
} */


.section_padding{
  padding: 4rem 6rem;
}

.section_margin{
  padding: 4rem 6rem;
}

@media screen and (max-width: 700px) {
  .section_padding{
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}